
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clubes Bebczuk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Clubes.css">  
</head>
  <body>
<div class="text-center">
    <p>En esta web vas a conocer en que clubes o comunidades donde estuve o estoy ahora.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <img src="/Img/Clubes/macabi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MACABI</h5>
                        <p class="card-text">Desde muy chico fuí a Macabi yendo a los ranchos con mis amigos. </p>
                        <a href= https://macabi.org.ar/ class="btn btn-primary">Ir a MACABI</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="/Img/Clubes/bethilel.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BET-HILEL</h5>
                        <p class="card-text">Tiempo después fuí a Bet - Hilel donde hice muchas amistades y conocí mucha gente.</p>
                        <a href= https://bethilel.org.ar/wp/ class="btn btn-primary">Ir a BET-HILEL</a>
            </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="/Img/Clubes/sha.png" class="card-img-top" alt="deportes">
                    <div class="card-body">
                        <h5 class="card-title">HEBRAICA</h5>
                        <p class="card-text">Hoy en día voy a Hebraica donde hago Escuela de Madrijim/Curso de lideres.</p>
                        <a href= https://hebraica.org.ar/ class="btn btn-primary">Ir a HEBRAICA</a>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>