@{
    ViewData["Title"] = "Home";
    <link rel="stylesheet" href="/css/Index.css">  
}

<header>
    <h1>Mi Web</h1>
</header>

<main role="main" class="container">
    <h2 class="title">Home</h2>

    <p>
        <a href="/Home/CrearUsuario" class="btn">Crear Usuario</a>
        <a href="/Home/IniciarSesion" class="btn">Iniciar Sesión</a>
    </p>
</main>
