@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Matias Bebczuk</h1>
    <p>En esta web vas a conocer un poco acerca de mi persona</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <img src="https://th.bing.com/th/id/R.5ba21f67d53c6885bca31dee9b53aef7?rik=EoMM2M11R8DFvw&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href='@Url.Action("Colegios", "Home")' class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="https://th.bing.com/th/id/R.5ba21f67d53c6885bca31dee9b53aef7?rik=EoMM2M11R8DFvw&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href='@Url.Action("Clubes", "Home")' class="btn btn-primary">Go somewhere</a>
            </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="https://th.bing.com/th/id/R.5ba21f67d53c6885bca31dee9b53aef7?rik=EoMM2M11R8DFvw&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href='@Url.Action("Deportes", "Home")' class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

